body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root{
  height: 100%;
  width: 100%;
}

.map-container, .loading-container{
  height: 95%;
  width: 100%;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-circle {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loading-message {
  font-family: 'Open Sans', sans-serif;
}

.footer {
  height: 5%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer p {
  margin: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.app-name {
  font-weight: bold;
}

.city {
  font-weight: normal;
  font-size: 0.7em;
}

.author {
  color: white !important
}

.timeline-container * {
  box-sizing: border-box;
}

.timeline-container {
  color: white;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0,0,0, 0.8);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.timeline-controls {
  display: flex;
  padding: 8px 8px 10px 8px;;
}

.button-3d {
  display: flex;
  align-items: center;
  background: hsl(0deg, 100%, 100%);
  border-radius: 8px;
  padding: 8px;
  margin: 0 8px;
  color: black;
  box-shadow: 2px 2px white;
  border: 1px solid hsl(0deg 0% 0% / 80%);
}

.button-3d:hover {
  cursor: pointer;
  background: hsl(0deg, 0%, 80%);
  border-radius: 8px;
  border: 1px solid hsl(0deg 0% 0% / 80%);
}

.button-3d:active {
  box-shadow: 1px 1px white;
  transform: translate(1px, 1px);
}

.button-3d:disabled {
  cursor: initial;
  box-shadow: 2px 2px hsl(0deg, 0%, 50%);;
}

.button-3d:disabled:hover {
  cursor: initial;
  background: white;
  box-shadow: 2px 2px hsl(0deg, 0%, 50%);;
}

.button-3d:disabled:active {
  transform: none;
}

.button-3d:disabled svg {
  fill: hsl(0deg, 0%, 50%);
}

.button-drawer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(0deg, 100%, 100%);
  border: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 8px;
}

.button-drawer:hover {
  cursor: pointer;
  background: hsl(0deg, 100%, 100%, 80%);
}

.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.divider {
  width: 100%;
  height: 1px;
  background: white;
  margin: 4px 0;
  box-sizing: border-box;
}

.timeline-date-container p {
  margin: 0;
  text-align: center;
}

.dot-red, .dot-yellow, .dot-green {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
}

.dot-red {
  color: red
}

.dot-red {
  background: red;
}

.dot-yellow {
  background: #fab440;
}

.dot-green {
  background: forestgreen;
}

.legend-container {
  width: 100%;
  padding: 8px;
  animation: height ease 0.5s;
}

.shrink {
  height: 0;
}

.legend-title {
  margin-top: 0;
  font-weight: bold;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 600px)  {
  .footer {
    height: 5%
  }
}